/*commun à toutes les pages*/
html{
	background: -webkit-linear-gradient(top, #00FFDD, black); /*Chrome, Safari*/
	background: -o-linear-gradient(bottom, #00FFDD, black); /*Opera*/
	background: -moz-linear-gradient(bottom, #00FFDD, black); /*Mozilla, Firefox*/
	background: linear-gradient(to bottom, #00FFDD, black);
	background-repeat: no-repeat;
}

.contenu{
	width:70%;
	border-radius: 15px;
	margin: auto;
	background: rgba(0,0,0,0.8);
}

body{
	/*width:*/
	padding: 0px;
	/*border*/
	margin: auto; /*top,right,bot,left OR top/bot,right/left*/
	color: white;
}

::selection{
	background-color: green;
}

/*titre page*/
h1{
	width: 90%;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	text-shadow: 4px 3px 3px gray;
}
/*autres titres*/
h2{
	padding-left: 40px;
}
h3, h4{
	text-align: center;
}
/*textes*/
p{
	/*padding: 0px 20px 20px 20px;*/
	width: 85%;
	padding: 15px;
	margin: 15px;
	font-size: 18px;
	/*font-family: ;*/
}

/*décaler <article> vers la droite*/
article{
	padding-left: 200px;
}
/*images sur nouvelle ligne*/
img{
	display: block;
}

/*barre menu*/
/*to do: faire que go jusqu'au top
from side to top responsive design*/
.menu{
	position: fixed;
	height: 100%;
	padding: 20px 15px 20px 15px;
	border: 1px dotted gray;
	border-top: none;
	left: 15%;
	list-style-type: none;
	font-size: 16px;
	/*font-family: ;*/
}
/*logo barre menu*/
.logo-accueil{
	width: 150px;
}
/*to do: animation->apparait 1 a 1
 nouvelles options dans la barre menu
 accueil, histo, projet, annees, boutique*/
.barre-anim{
	
}


/*liens*/
/*page active*/
.actif{
	color: #009815 !important;
}
/*normal/pas visité*/
a:link{
	color: #01D81D;
	text-decoration: none;
}
/*déjà visité*/
a:visited{
	color: #01D81D;
	text-decoration: none;
}
/*curseur dessus*/
a:hover{
	color: #01FE23;
}
/*pendant le cliquage*/
a:active{
	text-decoration: underline;
}

/*pied de page (© + nous joindre)*/
footer{
	width: 80%;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

/*page accueil*/
/*logo*/
#logo{
	width: 90%;
}
/*clientèle*/
/*#clients{
	/*padding: 0px 20px 20px 20px;
	width: 80%;
	padding: 15px;
	margin: 15px;
}*/
/*boîtes des nouvelles*/
.news{
	width: 80%;
	padding: 15px;
	border: 2px dotted gray;
	border-radius: 5px;
	margin: 15px;
}
.news p{
	width: 95%;
	margin: 0px;
}
.date{
	padding: 0px;
}
.newstext{
	padding: 0px 0px 0px 10px;
}
/*to do: % but 200px max*/
#img-defile{
	width: 200px;
}
#fictif{
	width: 80%;
	padding: 4px;
	text-align: center;
}
mark{
	background-color: green;
	color: white;
}

/*page historique*/
/*boîtes des parties d'historique*/
/*.hist{
	/*padding: 0px 20px 20px 20px;
	width: 80%;
	padding: 15px;
	margin: 15px;
}*/
/*photo fondateurs*/
#fondateurs{
	width: 90%;
}
/*logos dans historique*/
.logo-histo{
	width: 70%;
}


/*page projets*/
/*.projets{
	/*padding: 0px 20px 20px 20px;
	width: 80%;
	padding: 15px;
	margin: 15px;
}*/
.IMGprojetjapon{
	width: 45%;
}
.IMGprojetchine{
	width: 70%;
}
.IMGsalles{
	width: 50%;
}


/*pages cours*/
/*.cours{
	/*padding: 0px 20px 20px 20px;
	width: 80%;
	padding: 15px;
	margin: 15px;
}*/
/*todo: + d'alinea*/
.defdanse{
	/*padding: 0px 20px 20px 20px;*/
	width: 80%;
	padding: 15px;
	margin: 15px;
}
/*todo: +animation bigger hover*/
.IMGcours1{
	width: 49%;
	display: inline;
}
/*todo: +animation bigger hover*/
.IMGcours{
	width: 80%;
}
/*doesnt work??
+animation bigger hover*/
.IMGcoursVert{
	height: 20%;
	display: block;
}
video{
	width: 90%;
}


/*page inscriptions*/



/*page boutique*/



/*page employés: tableau employés*/
table{
	border-collapse: collapse;
}

th, td{
	padding: 8px;
	border: 1px solid gray;
}

.nom{
	text-align: center;
}

/*tableau employés*/
#temployes{
	margin: 15px;
}
/*photos employés*/
.pemployes{
	width: 75px;
}


/*page partenaires d'affaires*/



/*page fournisseurs*/



/*page coordonnées/localisation*/
